{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Appointment Details</div>
                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item">To: {{ appointment.destination }}</li>
                    <li class="list-group-item">From: {{ appointment.pickup }}</li>
                    <li class="list-group-item">Desired Time: {{ appointment.desired_time }}</li>
                    <li class="list-group-item">Earliest Start: {{ appointment.available_start }}</li>
                    <li class="list-group-item">Latest Start: {{ appointment.available_end }}</li>
                    <li class="list-group-item">Guests: {{ appointment.num_people }}/{{ appointment.max_people }}</li>
                </ul>
            </div>
            {% if is_creator or is_rider %}
                <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Current Travelers</div>
                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item">{{ appointment.creator.email }}</li>
                    {% for rider in riders %}
                        <li class="list-group-item">{{ rider.email }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        <div class="col-md-6">

            {% if is_creator  %}
                <p>
                    You created this appointment. If you would like to email the other participants,
                    write out a message below and hit send. However, it is recommended to just email them directly using
                    using the emails to the left (only people riding in this appointment can see those emails).
                </p>
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-default" value="Send Email"/>
                    <button type="button" class="btn btn-inverse">
                        <a href="http://{{ domain }}/appointment/delete/{{ appointment.id }}">Delete Appointment</a>
                    </button>
                </form>

            {% elif is_rider %}
                <p>
                    You are a confirmed rider on this appointment. If you would like to email the other participants,
                    write out a message below and hit send. However, it is recommended to just email them directly using
                    using the emails to the left (only people riding in this appointment can see those emails).
                </p>
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-default" value="Send Email"/>
                    <button type="button" class="btn btn-inverse">
                        <a href="http://{{ domain }}/appointment/delete/{{ appointment.id }}">Delete Reservation</a>
                    </button>
                </form>

            {% elif is_requester %}
                <p>
                    You have already requested to ride on this appointment. The request is currently pending when the
                    creator responds you will be notified by email. If you would like to cancel your request, follow the
                    link below.
                </p>
                <button type="button" class="btn btn-inverse">
                    <a href="http://{{ domain }}/appointment/delete/{{ appointment.id }}">Delete Reservation</a>
                </button>

            {% else %}
                <p>
                    If you would like to join this ride, please write a message to your potential travel buddy. Your email
                    will be given, but a more direct contact method of contact and relevant information such as when
                    you would like to leave would be good.
                </p>
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-default" value="Send Email"/>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}