{% extends 'base.html' %}

{% block content %}
    <p>
        This is the appointment for {{ appointment.destination }} from {{ appointment.pickup }}. The creator of this appointment
        would like to leave at {{ appointment.desired_time }}, but could leave as early as {{ appointment.available_start }} or
        as late as {{ appointment.available_end }}.
    </p>
    {% if is_creator %}
        <p>
            You created this appointment. If you would like to email the other participants. Write out a message
            below and hit send. I recommend exchanging contact information so you can communicate more directly.
        </p>
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-default" value="Send Email"/>
        </form>
        <button type="button">
            <a href="http://{{ domain }}/appointment/delete/{{ appointment.id }}">Delete Appointment</a>
        </button>
    {% elif is_rider %}
        <p>
            You are a confirmed rider on this appointment. If you would like to email the other participants. Write out a message
            below and hit send. I recommend exchanging contact information so you can communicate more directly.
        </p>
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-default" value="Send Email"/>
        </form>
        <button type="button">
            <a href="http://{{ domain }}/appointment/delete/{{ appointment.id }}">Delete Reservation</a>
        </button>
    {% elif is_requester %}
        <p>
            You have already requested to ride on this appointment. The request is either pending or you should have received
            an email stating the status.
        </p>
{#        <form method="post" action="">#}
{#            {% csrf_token %}#}
{#            {{ form.as_p }}#}
{#            <input type="submit" class="btn btn-default" value="Send Email"/>#}
{#        </form>#}
{#        <button type="button">#}
{#            <a href="http://{{ domain }}/appointment/delete/{{ appointment.id }}">Delete Reservation</a>#}
{#        </button>#}
    {% else %}
        <p>
            If you would like to join this ride, please write a message to your potential travel buddy. I recommend
            exchanging contact information and adding any other relevant information.
        </p>
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-default" value="Send Email"/>
        </form>
    {% endif %}


{% endblock %}