{% extends 'base.html' %}

{% block content %}

    {% if created %}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Upcoming appointments you created</div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>To</th>
                <th>From</th>
                <th>Desired Time</th>
                <th>Guests</th>
                {#        <th>Status</th>#}
            </tr>
            </thead>
            <tbody>
            {% for foo in created %}
                <tr>
                    <td>{{ foo.pickup }}</td>
                    <td>{{ foo.destination }}</td>
                    <td><a href="http://{{ domain }}/appointment/{{ foo.id }}">{{ foo.desired_time }}</a></td>
                    <td>{{ foo.num_people }}/{{ foo.max_people }}</td>
                    {#        <td>created</td>#}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <P>You have no upcoming appointments</P>
    {% endif %}
    {% if accepted %}
        <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Upcoming confirmed ride requests</div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>To</th>
                <th>From</th>
                <th>Desired Time</th>
                <th>Guests</th>
                {#        <th>Status</th>#}
            </tr>
            </thead>
            <tbody>
            {% for foo in accepted %}
                <tr>
                    <td>{{ foo.pickup }}</td>
                    <td>{{ foo.destination }}</td>
                    <td><a href="http://{{ domain }}/appointment/{{ foo.id }}">{{ foo.desired_time }}</a></td>
                    <td>{{ foo.num_people }}/{{ foo.max_people }}</td>
                    {#        <td>created</td>#}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <p>You have no upcoming rides</p>
    {% endif %}
    {% if pending %}
            <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Pending Ride Requests</div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>To</th>
                <th>From</th>
                <th>Desired Time</th>
                <th>Guests</th>
                {#        <th>Status</th>#}
            </tr>
            </thead>
            <tbody>
            {% for foo in pending %}
                <tr>
                    <td>{{ foo.appointment.pickup }}</td>
                    <td>{{ foo.appointment.destination }}</td>
                    <td><a href="http://{{ domain }}/appointment/{{ foo.appointment.id }}">{{ foo.appointment.desired_time }}</a></td>
                    <td>{{ foo.appointment.num_people }}/{{ foo.appointment.max_people }}</td>
                    {#        <td>created</td>#}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <p>You have no pending requests</p>
    {% endif %}
    <form action="{% url 'auth_password_change' %}">
        <input type="submit" class="btn btn-default" value="Change password"/>
    </form>
    {#<form method="post" action="">#}
    {#    {% csrf_token %}#}
    {#    {{ form.as_p }}#}
    {#    <input type="submit" class="btn btn-default" value="Request Ride"/>#}
    {#</form>#}
{% endblock %}